body {
    color: white;
    background: black;
    font-family: Oswald;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 5px;
}

#app_logo {
    width: 50px;
    height: 50px;
}

#app_name_initial {
    color: red;
}

#app_name {
    letter-spacing: 5px;
}

#thumbnails { 
    display: flex;
    overflow-x: auto;
    scrollbar-color: rgb(225, 100, 100) rgb(220, 220, 220);
    margin: 10px;
}
.thumbnail {
    width: 100%;
    height: 100%;
}

#video_modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#video_modal_contents {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background: black;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    border-top: 0;
}
#video_modal_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    width: 100%;
}

#video_modal_close {
    color: white;
    font-weight: bold;
}
#video_modal_close:hover {
    color: red;
    cursor: pointer;
}
#video_modal_iframe {
    border: none;   
    width: 100%;
    height: 100%;
}

button {
    color: white;
    background: black;
    border: 2px solid pink;
    padding: 10px;
    margin: 5px;
    font-family: Oswald;
    font-size: 15px;
    letter-spacing: 2px;
    transition: color .5s;
}

button:hover {
    cursor: pointer;
    color: pink;
}

input {
    background: black;
    color: silver;
    padding: 10px;
    border: 1px solid silver;
    font-family: Oswald;
    font-size: 15px;
}

#info {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 50px;
    background: pink;
    color: black;
    text-align: center;
    transition: background .5s;
}

#info:hover {
    background: white;
    cursor: pointer;
}
