html {
    width: 100%;
    height: 100%;
}

body {
/*
    width: 100%;
*/
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background: rgb(155, 100, 100);
}

form button {
/*
    display: none;
*/
}

#sampler {
    display: flex;
    justify-content: space-between;
}

#pads {
    background: pink;
}

#cart {
    background: powderblue;
}

#thumbnails { 
    display: flex;
    overflow-x: auto;
    scrollbar-color: rgb(225, 100, 100) rgb(220, 220, 220);
}

.thumbnail {
    width: 100%;
    height: 100%;
}

#video_modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#video_modal_contents {
    display: flex;
    width: 30%;
    height: 30%;
    background: white;
    align-items: center;
    justify-content: center;

