html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
/*
    background: yellow;
*/
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background: rgb(155, 100, 100);
}
form button {
/*
    display: none;
*/
}
#sampler {
    display: flex;
    width: 100%;
    height: 100%;
/*
    margin-left: 25%;
    margin-right: 25%;
*/
    justify-content: center;
/*
    align-items: ;
*/
}
#pads {
    width: 100%;
    height: 100%;
    background: pink;
}
.pad {
    width: 12.5%;
    height: 12.5%;
    background: black;
    color: white;
    float: left;
/*
    border: 1px solid white;
*/
}
#spacer {
    width: 5%;
    height: 100%;
}
#cart {
    width: 80%;
    height: 100%;
    background: powderblue;
}
#thumbnails { 
    display: flex;
    overflow-x: auto;
    scrollbar-color: rgb(225, 100, 100) rgb(220, 220, 220);
}
.thumbnail {
    width: 100%;
    height: 100%;
}
#video_modal {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#video_modal_contents {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background: black;
    align-items: center;
    justify-content: center;
    border: 10px solid black;
    border-top: 0;
}
#video_modal_controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    width: 100%;
}

#video_modal_close {
    color: white;
    font-weight: bold;
}
#video_modal_close:hover {
    color: red;
    cursor: pointer;
}
#video_modal_iframe {
    border: none;   
    width: 100%;
    height: 100%;
}
