.sampler {
    display: inline-grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 30px 120px 60px 500px;    
    margin: 10px;
    opacity: 0;
    transition: opacity .5s;
}

.sampler_close {
    grid-column: 1 / 5;
    text-align: right;
}

.sampler_close_cross {
    display: inline;
    color: silver;
    transition: color .5s;
}

.sampler_close_cross:hover {
    color: red;
    cursor: pointer;
}

.waveform {
    grid-column: 1 / 5;
    border: 1px solid black;
    color: black;
    border: 1px solid silver;
}

.settings {
    grid-column: 1 / 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    padding-right: 1%;
}

.pads {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
    padding: 1%;
}

.pad {
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
    transition: opacity margin;
}  

.pad:hover {
    cursor: pointer;
    opacity: 1;
    
}

.pad:active {
    margin: 1%;
}

.pad_icon {
    width: 0; 
    height: 0; 
    border-top: 20px solid black;
    border-bottom: 20px solid black;
/*
    border-left: 20px solid;
*/
}
