<!DOCTYPE HTML>
    {% load static %}
    {% load customtags %}
    <html>
        <head>
            <link href="{% static 'sampler/index.css' %}" rel="stylesheet"></link>
            <link href="{% static 'sampler/sampler.css' %}" rel="stylesheet"></link>
            <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
        </head>
        <body>
            <nav>
                <ul>
                    <li>
                        <img id="app_logo" src="{% static 'sampler/cleaver_white_red.png' %}"></img>
                    </li>
                    <li id="app_name"><span id="app_name_initial">y</span>outube chop chop</li>
                </ul>
            </nav>
            <div id="search">
                <form id="search_form">
                    <input type="text" placeholder="Keyword?">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div id="thumbnails"></div>
            <div id="fake_thumbnail1">FAKE THUMBNAIL 1</div>
            <div id="fake_thumbnail2">FAKE THUMBNAIL 2</div>
            <button id="add_sampler_btn">+ Add sampler</button>
            <div id="samplers"></div>
            <div id="video_modal">
                <div id="video_modal_contents">
                    <div id="video_modal_controls">
                        <button id="video_modal_sample_it">Sample it!</button>
                        <div id="video_modal_close">X</div>
                    </div>
                    <iframe id="video_modal_iframe"></iframe>
                </div>
            </div>
            <div id="info_icon">?</div>
            <div id="info_modal">
                <div="info_modal_contents">
                    <ul>
                        <li>
                            In the waveform hold 
                                <span class="blue_text">left</span> 
                            mouse button to 
                                <span class="blue_text">draw / move</span>
                             a sample.
                                <span class="red_text">Right</span>
                             click to 
                                <span class="red_text">erase</span>
                            it.
                        </li> 
                        <li>
                            In the pads click the
                                <span class="blue_text">left</span>
                            /
                                <span class="red_text">right</span>
                            mouse button to
                                <span class="blue_text">play</span>
                            /
                                <span class="red_text">remove</span>
                            a sample. Drag to swap samples.
                        </li>   
                    </ul>
                </div>
            </div>
        </body>
        <script>
            const get_videos_url = "{% absurl 'sampler:get_videos' %}"
            const download_url = "{% absurl 'sampler:download' %}"
            const slice_url = "{% absurl 'sampler:slc' %}"
            const serve_url = "{% absurl 'sampler:serve' %}"
        </script>
        <script src="{% static 'sampler/colors.js' %}" type="module"></script>
        <script src="{% static 'sampler/index.js' %}" type="module"></script>
        <script src="{% static 'sampler/sampler.js' %}" type="module"></script>
    </html>
