<!DOCTYPE HTML>
    <html>
        <style>
            html {
                
            }
            body {
                background: grey;
            }
            #sampler {
                width: 50%;
                height: 25em;
                display: flex;
                flex-direction: column;
                background: orange;
            }
            #waveform {
                width: 100%;
                height: 20%;
                background: pink;
            }
            #pads {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                background: yellow;
            }
            .pad {
                width: 25%;
                height: 25%;
                //border: 1px solid black;
            }
            
        </style>
        <body>        
            <div id="sampler">
                <div id="waveform">WAVEFORM</div>
                <div id="pads"></div>
            </div>
            <ul id="samples">
                <li>43</li>
                <li>66</li>
                <li>12</li>
            </ul>
        </body>
        <script>
            
            class Pads {
                constructor (container_selector, n_pads) {
                    this.list = [] // array of Pad objects
                    this.render(container_selector, n_pads)          
                }
                
                render(container_selector, n_pads) {
                    this.el = document.querySelector(container_selector)
                    for (let i = 1; i < n_pads + 1; i++) {
                        let pad = new Pad(i)
                        this.list.push(pad)
                        this.el.appendChild(pad.el)
                   }
                }   
                
                empty() {
                    return this.list.filter(pad => pad.empty)
                }
                
                firstEmpty() {
                    if (!this.empty()[0]) {
                        alert('No free pads left!')
                        return
                    }
                    return this.empty()[0]
                }
            }
            
            class Pad {
                constructor(container_selector) {
                    
                    this.STYLE = {
                        on_color: 'red',
                        off_color: 'powderblue',
                    }
                    
                    this.render(container_selector)
                    
                    this.empty = true
                    let color = () => this.empty ? this.STYLE.off_color : this.STYLE.on_color
                    this.el.style.backgroundColor = color()
                    this.el.draggable = !this.empty
                }
                
                render(element_id) {
                    this.el = document.createElement('div')
                    this.el.id = element_id
                    this.el.textContent = this.el.id
                    
                    this.audio = new Audio()                    
                    this.audio.volume = 0 // MUTE
                    
                    this.el.appendChild(this.audio)
                    
                    this.el.classList.add('pad')
                    
                    this.el.oncontextmenu = () => false
                    this.el.addEventListener('mouseup', this.mouseUp)
                    this.el.addEventListener('dragstart', this.dragStart)
                    this.el.addEventListener('dragover', this.dragOver)
                    this.el.addEventListener('drop', this.drop)
                }
                
                mouseUp = e => {
                    if (e.button === 0) {
                        this.loadAudio('bensound-summer.mp3')
                    }
                    if (e.button === 2) {
                        this.removeAudio()
                    }
                }
                
                dragStart = e => {
                    e.dataTransfer.dropEffect = 'move'
                    e.dataTransfer.setData('text/plain', e.target.id)
                }
                
                dragOver = e => {
                    e.preventDefault()
                    //e.dataTransfer.dropEffect = 'move'
                }
                
                drop = e => {
                    e.preventDefault()
                    let id = e.dataTransfer.getData('text/plain')
                    let src_el = document.getElementById(id)
                    console.log('src', src_el)
                    console.log('target', e.target)
                    this.swap(src_el, e.target)
                    
                }
                
                swap(obj1, obj2) {
                    // create marker element and insert it where obj1 is
                    let temp = document.createElement("div");
                    obj1.parentNode.insertBefore(temp, obj1);

                    // move obj1 to right before obj2
                    obj2.parentNode.insertBefore(obj1, obj2);

                    // move obj2 to right before where obj1 used to be
                    temp.parentNode.insertBefore(obj2, temp);

                    // remove temporary marker node
                    temp.parentNode.removeChild(temp);
                }
                
                loadAudio(src) {
                    this.audio.src = src
                    this.empty = false
                    let color = () => this.empty ? this.STYLE.off_color : this.STYLE.on_color
                    this.el.style.backgroundColor = color()
                    this.el.draggable = !this.empty
                }
                
                removeAudio() {
                    this.audio.removeAttribute('src')
                    this.empty = true
                    let color = () => this.empty ? this.STYLE.off_color : this.STYLE.on_color
                    this.el.style.backgroundColor = color()
                    this.el.draggable = !this.empty  
                }
                                
            }         
            let pads = new Pads("#pads", 16)
            
            let samples = document.getElementById('samples')
            samples.addEventListener('click', e => {
                if (e.target.tagName === 'LI') {
                    let id = e.target.textContent
                    pads.firstEmpty().loadAudio('bensound-summer.mp3')
                }
            })
           
            
        </script>
    </html>
